<nav class="blogpagination {selector}" role="navigation" aria-label="{f:translate(key: 'pagination.aria.label', extensionName: 'Blog')}">
    <ul class="pagination justify-content-center" data-url-schema="{f:uri.page()}%d/">

        <f:if condition="{pagination.previousPageNumber}">
            <li class="page-item">
                <f:variable name="ariaLabel"><f:translate key="pagination.aria.goto.previous" extensionName="WsBlog" /></f:variable>
                <a class="page-link" href="{f:uri.action(arguments: {currentPage: pagination.previousPageNumber}, addQueryString: 1)}" aria-label="{ariaLabel}" rel="prev" >
                    <span class="blogpagination__itemtitle"><f:translate key="pagination.previous" extensionName="WsBlog" /></span>
                </a>
            </li>
        </f:if>

        <f:if condition="{pagination.lessPages}">
            <li class="page-item">
                <f:variable name="ariaLabel"><f:translate key="pagination.aria.goto.page" arguments="{0: pagination.firstPageNumber}" extensionName="WsBlog" /></f:variable>
                <a class="page-link" href="{f:uri.action(arguments: {currentPage: pagination.firstPageNumber}, addQueryString: 1)}" aria-label="{ariaLabel}">
                    <span class="blogpagination__itemtitle">{pagination.firstPageNumber}</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a href="javascript:void();" tabindex="-1" aria-hidden="true" class="page-link">
                    <span class="blogpagination__itemtitle">…</span>
                </a>
            </li>
        </f:if>

        <f:for each="{pagination.displayPageNumbers}" as="pageNumber">
            <f:if condition="{pageNumber} == {pagination.currentPageNumber}">
                <f:then>
                    <li class="page-item active">
                        <f:variable name="ariaLabel"><f:translate key="pagination.aria.current.page" arguments="{0: pageNumber}" extensionName="WsBlog" /></f:variable>
                        <a class="page-link" href="{f:uri.action(arguments: {currentPage: pageNumber}, addQueryString: 1)}" aria-label="{ariaLabel}" aria-current="true">
                            <span class="blogpagination__itemtitle">{pageNumber}</span>
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <li class="blogpagination__item">
                        <f:variable name="ariaLabel"><f:translate key="pagination.aria.goto.page" arguments="{0: pageNumber}" extensionName="WsBlog" /></f:variable>
                        <a class="page-link" href="{f:uri.action(arguments: {currentPage: pageNumber}, addQueryString: 1)}" aria-label="{ariaLabel}">
                            <span class="blogpagination__itemtitle">{pageNumber}</span>
                        </a>
                    </li>
                </f:else>
            </f:if>
        </f:for>

        <f:if condition="{pagination.morePages}">
            <li class="page-item disabled">
                <a href="javascript:void();" tabindex="-1" aria-hidden="true" class="page-link">
                    <span class="blogpagination__itemtitle">…</span>
                </a>
            </li>
            <li class="page-item">
                <f:variable name="ariaLabel"><f:translate key="pagination.aria.goto.page" arguments="{0: pagination.lastPageNumber}" extensionName="WsBlog" /></f:variable>
                <a class="page-link" href="{f:uri.action(arguments: {currentPage: pagination.lastPageNumber}, addQueryString: 1)}" aria-label="{ariaLabel}">
                    <span class="blogpagination__itemtitle">{pagination.lastPageNumber}</span>
                </a>
            </li>
        </f:if>

        <f:if condition="{pagination.nextPageNumber}">
            <li class="page-item">
                <f:variable name="ariaLabel"><f:translate key="pagination.aria.goto.next" extensionName="BootstrapPackage" /></f:variable>
                <a class="page-link" href="{f:uri.action(arguments: {currentPage: pagination.nextPageNumber}, addQueryString: 1)}" aria-label="{ariaLabel}" rel="next">
                    <span class="blogpagination__itemtitle"><f:translate key="pagination.next" extensionName="WsBlog" /></span>
                </a>
            </li>
        </f:if>

    </ul>
</nav>
